@using Sitecore.Shell.Framework.Commands.Masters
@model Sitecore.SharedSource.CognitiveServices.Models.ICognitiveImageAnalysis

@{
    ViewBag.Title = "Cognitive Services: Analysis";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/sitecore modules/Web/SitecoreCognitiveServices/Sitecore.SharedSource.CognitiveServices.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Image Analysis</h1>
    <div>
        <h2>Emotion Analysis</h2>
        @foreach(var ea in Model.EmotionAnalysis)
        {
            @Html.Partial("Common/Rectangle", ea.FaceRectangle)
            @Html.Partial("Emotion/Scores", ea.Scores)
        }
    </div>
    <div>
        <h2>Facial Analysis</h2>
        @foreach (var fa in Model.FacialAnalysis)
        {
            @Html.Partial("Face/Attributes", fa.FaceAttributes, new ViewDataDictionary(fa.FaceAttributes))
            @Html.Partial("Face/Landmarks", fa.FaceLandmarks, new ViewDataDictionary(fa.FaceLandmarks))
            @Html.Partial("Face/Rectangle", fa.FaceRectangle)
        }
    </div>
    <div>
        <h2>Text Analysis</h2>
        <div>
            <label>Language: </label>
            <span>@Model.TextAnalysis.Language</span>
        </div>
        <div>
            <label>Orientation: </label>
            <span>@Model.TextAnalysis.Orientation</span>
        </div>
        @Html.Partial("Vision/Regions", Model.TextAnalysis.Regions, new ViewDataDictionary(Model.TextAnalysis.Regions))
        @if (Model.TextAnalysis.TextAngle != null) {
        <div>
            <label>Text Angle: </label>
            <span>@Model.TextAnalysis.TextAngle</span>
        </div>
        }
    </div>
    <div>
        <h2>Vision Analysis</h2>
        @Html.Partial("Vision/Adult", Model.VisionAnalysis.Adult)
        @Html.Partial("Vision/Categories", Model.VisionAnalysis.Categories)
        @Html.Partial("Vision/Color", Model.VisionAnalysis.Color)
        @Html.Partial("Vision/Description", Model.VisionAnalysis.Description)
        @Html.Partial("Vision/Faces", Model.VisionAnalysis.Faces)
        @Html.Partial("Vision/ImageType", Model.VisionAnalysis.ImageType)
        @Html.Partial("Vision/Metadata", Model.VisionAnalysis.Metadata)
        @Html.Partial("Vision/Tags", Model.VisionAnalysis.Tags)
    </div>
    <script src="~/sitecore modules/Web/SitecoreCognitiveServices/jquery-1.10.2.min.js"></script>
</body>
</html>