@using Sitecore.Shell.Framework.Commands.Masters
@using Sitecore.Data.Managers
@model Sitecore.SharedSource.CognitiveServices.Models.ICognitiveImageAnalysis

@{
    ViewBag.Title = "Cognitive Services: Analysis";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/sitecore modules/Web/SitecoreCognitiveServices/css/Sitecore.SharedSource.CognitiveServices.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="frame">
        <div class="tabbed-nav">
            <div class="nav-btn selected" rel="emotional" title="Emotional Analysis">
                <span>Emotional Analysis</span>
            </div>
            <div class="nav-btn" rel="facial" title="Facial Analysis">
                <span>Facial Analysis</span>
            </div>
            <div class="nav-btn" rel="textual" title="Textual Analysis">
                <span>Textual Analysis</span>
            </div>
            <div class="nav-btn" rel="visual" title="Visual Analysis">
                <span>Visual Analysis</span>
            </div>
        </div>
        <div class="analysis-wrapper">
            <div class="image-wrapper">
                <img src="@Model.ImageUrl" /> 
            </div>
            <div class="tab-content emotional selected">
                @foreach (var ea in Model.EmotionAnalysis)
                {
                    <div class="emotion-block">
                        @Html.Partial("Common/Rectangle", ea.FaceRectangle)
                        <div class="score-wrap" style="top: @{@ea.FaceRectangle.Top}px; left: @{@(ea.FaceRectangle.Left + ea.FaceRectangle.Width + 10)}px">
                            @Html.Partial("Emotion/Scores", ea.Scores)
                        </div>
                    </div>
                }
            </div>
            <div class="tab-content facial">
                @foreach (var fa in Model.FacialAnalysis)
                {
                    @Html.Partial("Face/Attributes", fa.FaceAttributes, new ViewDataDictionary(fa.FaceAttributes))
                    @Html.Partial("Face/Landmarks", fa.FaceLandmarks, new ViewDataDictionary(fa.FaceLandmarks))
                    @Html.Partial("Face/Rectangle", fa.FaceRectangle)
                }
            </div>
            <div class="tab-content textual">
                @Html.Partial("Vision/Regions", Model.TextAnalysis.Regions, new ViewDataDictionary(Model.TextAnalysis.Regions))
                <div class="textual-block" style="top: @{@Model.ImageHeight}px">
                    <div>
                        <label>Language: </label>
                        <span>@Model.TextAnalysis.Language</span>
                    </div>
                    <div>
                        <label>Orientation: </label>
                        <span>@Model.TextAnalysis.Orientation</span>
                    </div>
                    @if (Model.TextAnalysis.TextAngle != null)
                    {
                        <div>
                            <label>Text Angle: </label>
                            <span>@Model.TextAnalysis.TextAngle</span>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-content visual">
                @Html.Partial("Vision/Faces", Model.VisionAnalysis.Faces, new ViewDataDictionary(Model.VisionAnalysis.Faces))
                <div class="visual-block" style="top: @{@Model.ImageHeight}px">
                    @Html.Partial("Vision/Adult", Model.VisionAnalysis.Adult, new ViewDataDictionary(Model.VisionAnalysis.Adult))
                    @Html.Partial("Vision/Categories", Model.VisionAnalysis.Categories, new ViewDataDictionary(Model.VisionAnalysis.Categories))
                    @Html.Partial("Vision/Color", Model.VisionAnalysis.Color, new ViewDataDictionary(Model.VisionAnalysis.Color))
                    @Html.Partial("Vision/Description", Model.VisionAnalysis.Description, new ViewDataDictionary(Model.VisionAnalysis.Description))
                    @Html.Partial("Vision/Tags", Model.VisionAnalysis.Tags, new ViewDataDictionary(Model.VisionAnalysis.Tags))
                    @*@Html.Partial("Vision/Metadata", Model.VisionAnalysis.Metadata, new ViewDataDictionary(Model.VisionAnalysis.Metadata))
                    @Html.Partial("Vision/ImageType", Model.VisionAnalysis.ImageType, new ViewDataDictionary(Model.VisionAnalysis.ImageType))*@
                </div>
            </div>
            <script src="~/sitecore modules/Web/SitecoreCognitiveServices/js/jquery-1.10.2.min.js"></script>
            <script src="~/sitecore modules/Web/SitecoreCognitiveServices/js/Sitecore.SharedSource.CognitiveServices.js"></script>
        </div>
    </div>
</body>
</html>