@model SitecoreCognitiveServices.Project.LaunchDemo.Models.JobResult
@{
    ViewBag.Title = "Content Moderator - Job";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    @if (!string.IsNullOrEmpty(Model.JobId))
    {
        <div>
            <h3>Job Created</h3>
            <label>Job Id: </label> @Model.JobId
        </div>
    }
    <form class="form cm-job-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ContentModeratorJobCreateImage">
        <fieldset>
            <legend>Make Image Job</legend>
            <div class="form-row">
                <label>provide image url</label>
                <input type="text" name="imageUrl"/>
            </div>
            <div class="form-row">
                <label>Team Name</label>
                <input type="text" name="teamName" />
            </div>
            <div class="form-row">
                <label>Workflow Name</label>
                <input type="text" name="workflowName" />
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Make Image Job" />
            </div>
        </fieldset>
    </form>
    <form class="form cm-job-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ContentModeratorJobCreateText">
        <fieldset>
            <legend>Make Text Job</legend>
            <div class="form-row">
                <label>provide text to screen</label>
                <br />
                <textarea type="text" name="text"></textarea>
            </div>
            <div class="form-row">
                <label>Team Name</label>
                <input type="text" name="teamName" />
            </div>
            <div class="form-row">
                <label>Workflow Name</label>
                <input type="text" name="workflowName" />
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Make Text Job" />
            </div>
        </fieldset>
    </form>
    <form class="form cm-job-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ContentModeratorJobGet">
        <fieldset>
            <legend>Get Job</legend>
            <div class="form-row">
                <label>Team Name</label>
                <input type="text" name="teamName" />
            </div>
            <div class="form-row">
                <label>Job Id</label>
                <input type="text" name="jobId"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Get Job"/>
            </div>
            @if (Model.Job != null)
            {
                <div>
                    <div>
                        <label>Job Id: </label> @Model.Job.Id
                    </div>
                    <div>
                        <label>Team Name: </label> @Model.Job.TeamName
                    </div>
                    <div>
                        <label>Job Status: </label> @Model.Job.Status
                    </div>
                    <div>
                        <label>Workflow Id: </label> @Model.Job.WorkflowId
                    </div>
                    <div>
                        <label>Review Id: </label> @Model.Job.ReviewId
                    </div>
                    <div>
                        @foreach (var m in Model.Job.ResultMetaData)
                        {
                            <div>
                                <label>@m.Key </label> @m.Value
                            </div>
                        }
                    </div>
                </div>
            }
        </fieldset>
    </form>
</div>