@model SitecoreCognitiveServices.Project.LaunchDemo.Models.TermListResult
@{
    ViewBag.Title = "Content Moderator - Term Lists";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form cm-term-list-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ContentModeratorTermListAddList">
        <fieldset>
            <legend>Create Term List</legend>
            <div class="form-row">
                <label>List Name</label>
                <input type="text" name="name" />
            </div>
            <div class="form-row">
                <label>List Description</label>
                <input type="text" name="description" />
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Create Term List" />
            </div>
            @if (Model.List != null)
            {
                <br />
                <div>
                    <div>
                        <label>Id: </label> @Model.List.Id
                    </div>
                    <div>
                        <label>Name: </label> @Model.List.Name
                    </div>
                    <div>
                        <label>Description: </label> @Model.List.Description
                    </div>
                </div>
            }
        </fieldset>
    </form>
    <form class="form cm-image-list-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ContentModeratorTermListGetAllLists">
        <fieldset>
            <legend>Get All Term Lists</legend>
            <div class="form-row">
                <input type="hidden" name="placeholder" value="" />
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Get All Term Lists" />
            </div>
            @if (Model.Lists != null)
            {
                foreach (var l in Model.Lists)
                {
                    <br />
                    <div>
                        <div>
                            <label>Id: </label> @l.Id
                        </div>
                        <div>
                            <label>Name: </label> @l.Name
                        </div>
                        <div>
                            <label>Description: </label> @l.Description
                        </div>
                    </div>
                }
            }
        </fieldset>
    </form>
    <form class="form cm-image-list-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ContentModeratorTermListAdd">
        <fieldset>
            <legend>Add Term</legend>
            <div class="form-row">
                <label>List Id</label>
                <input type="text" name="listId" />
            </div>
            <div class="form-row">
                <label>Term</label>
                <input type="text" name="term" />
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Add Term" />
            </div>
            @if (Model.EventOccurred)
            {
                <br />
                <div>
                    Adding Term @((Model.EventSuccess) ? "Succeeded" : "Failed")
                </div>
            }
        </fieldset>
    </form>
    <form class="form cm-image-list-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ContentModeratorTermListGetAll">
        <fieldset>
            <legend>Get All Terms</legend>
            <div class="form-row">
                <label>List Id</label>
                <input type="text" name="listId" />
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Get All Terms" />
            </div>
            @if (Model.Terms != null && Model.Terms.Data != null && Model.Terms.Data.Terms != null && Model.Terms.Data.Terms.Any())
            {
                foreach (var t in Model.Terms.Data.Terms)
                {
                    <br />
                    <div>
                        @t.Term
                    </div>
                }
            }
        </fieldset>
    </form>
</div>