@using SitecoreCognitiveServices.Feature.ImageSearch.Statics
@model SitecoreCognitiveServices.Feature.ImageSearch.Areas.SitecoreCognitiveServices.Models.Utility.IImageDescription

@{
    ViewBag.Title = Translator.Text("ImageDescription.ViewTitle");
    Layout = "~/Areas/SitecoreCognitiveServices/Views/CognitiveCommon/CognitiveLayout.cshtml";
}

<link rel="stylesheet" href="/Areas/SitecoreCognitiveServices/Assets/css/SitecoreCognitiveServices.Feature.ImageSearch.css?x=@(new System.Random().Next())" />

<div class="frame">
    @if (Model != null)
    {
        <form class="form" method="post" action="/SitecoreCognitiveServices/CognitiveImageSearch/UpdateImageDescription">
            <fieldset>
                <legend>@Translator.Text("ImageDescription.CurrentDescriptionLabel")</legend>
                <div class="info-row">@(string.IsNullOrEmpty(Model.AltDescription) ? Translator.Text("ImageDescription.AltEmptyMessage") : Model.AltDescription)</div>
            </fieldset>
            <fieldset>
                <legend>@Translator.Text("ImageDescription.OptionsLabel")</legend>
                <div class="form-row">
                    @foreach (var cp in Model.CognitiveDescription.Captions)
                    {
                        <div>
                            <input type="radio" id="descriptionOption" name="descriptionOption" value="@cp.Text" />
                            <label for="descriptionOption">@cp.Text</label>
                        </div>
                    }
                </div>
                <div>
                    <input type="hidden" name="id" value="@Model.ItemId" />
                    <input type="hidden" name="database" value="@Model.Database" />
                    <input type="hidden" name="language" value="@Model.Language" />
                </div>
            </fieldset>
            <div class="scWizardButtons">
                <button class="form-submit scButton scButtonPrimary">@Translator.Text("ImageDescription.ButtonText")</button>
            </div>
        </form>
    }
    else
    {
        <fieldset>
            <div class="info-row">@Translator.Text("ImageDescription.NoDescriptionMessage")</div>
        </fieldset>
    }
</div>

<script src="/Areas/SitecoreCognitiveServices/Assets/js/SitecoreCognitiveServices.Feature.ImageSearch.js"></script>
