@model Microsoft.ProjectOxford.Face.Contract.FaceLandmarks

@if (Model != null)
{
<div>
    <h3>Face Landmarks</h3>
    <div>
        <label>Eyebrow Left Inner: </label>
        <span>@Model.EyebrowLeftInner</span>
    </div>
    <div>
        <label>Eyebrow Left Outer: </label>
        <span>@Model.EyebrowLeftOuter</span>
    </div>
    <div>
        <label>Eyebrow Right Inner: </label>
        <span>@Model.EyebrowRightInner</span>
    </div>
    <div>
        <label>Eyebrow Right Outer: </label>
        <span>@Model.EyebrowRightOuter</span>
    </div>
    <div>
        <label>Eye Left Bottom: </label>
        <span>@Model.EyeLeftBottom</span>
    </div>
    <div>
        <label>Eye Left Inner: </label>
        <span>@Model.EyeLeftInner</span>
    </div>
    <div>
        <label>Eye Left Outer: </label>
        <span>@Model.EyeLeftOuter</span>
    </div>
    <div>
        <label>Eye Left Top: </label>
        <span>@Model.EyeLeftTop</span>
    </div>
    <div>
        <label>Eye Right Bottom: </label>
        <span>@Model.EyeRightBottom</span>
    </div>
    <div>
        <label>Eye Right Inner: </label>
        <span>@Model.EyeRightInner</span>
    </div>
    <div>
        <label>Eye Right Outer: </label>
        <span>@Model.EyeRightOuter</span>
    </div>
    <div>
        <label>Eye Right Top: </label>
        <span>@Model.EyeRightTop</span>
    </div>
    <div>
        <label>Mouth Left: </label>
        <span>@Model.MouthLeft</span>
    </div>
    <div>
        <label>Mouth Right: </label>
        <span>@Model.MouthRight</span>
    </div>
    <div>
        <label>Nose Left Alar Out Tip: </label>
        <span>@Model.NoseLeftAlarOutTip</span>
    </div>
    <div>
        <label>Nose Left Alar Top: </label>
        <span>@Model.NoseLeftAlarTop</span>
    </div>
    <div>
        <label>Nose Right Alar Out Tip: </label>
        <span>@Model.NoseRightAlarOutTip</span>
    </div>
    <div>
        <label>Nose Right Alar Top: </label>
        <span>@Model.NoseRightAlarTop</span>
    </div>
    <div>
        <label>Nose Root Left: </label>
        <span>@Model.NoseRootLeft</span>
    </div>
    <div>
        <label>Nose Root Right: </label>
        <span>@Model.NoseRootRight</span>
    </div>
    <div>
        <label>Nose Tip: </label>
        <span>@Model.NoseTip</span>
    </div>
    <div>
        <label>Pupil Left: </label>
        <span>@Model.PupilLeft</span>
    </div>
    <div>
        <label>Pupil Right: </label>
        <span>@Model.PupilRight</span>
    </div>
    <div>
        <label>Under Lip Bottom: </label>
        <span>@Model.UnderLipBottom</span>
    </div>
    <div>
        <label>Under Lip Top: </label>
        <span>@Model.UnderLipTop</span>
    </div>
    <div>
        <label>Upper Lip Bottom: </label>
        <span>@Model.UpperLipBottom</span>
    </div>
    <div>
        <label>Upper Lip Top: </label>
        <span>@Model.UpperLipTop</span>
    </div>
</div>
}