@using System;
@using System.Runtime;
@using System.Collections;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;

@model Sitecore.SharedSource.CognitiveServices.Models.ICognitiveTextAnalysis

@{
    ViewBag.Title = "Cognitive Services: Text Analysis";
    Layout = "~/Views/CognitiveCommon/CognitiveLayout.cshtml";
}

<div class="tabbed-nav">
    <div class="nav-btn selected" rel="links" title="Link Analysis">
        <span>Link Analysis</span>
    </div>
    <div class="nav-btn" rel="phrase" title="Key Phrase Analysis">
        <span>Key Phrase Analysis</span>
    </div>
    <div class="nav-btn" rel="linguistic" title="Linguistic Analysis">
        <span>Linguistic Analysis</span>
    </div>
    <div class="nav-btn" rel="sentiment" title="Sentiment Analysis">
        <span>Sentiment Analysis</span>
    </div>
    <div class="nav-btn" rel="language" title="Language Analysis">
        <span>Language Analysis</span>
    </div>
</div>
<div class="text-analysis-wrapper">
    <div class="tab-content links selected">
        @if (Model.LinkAnalysis != null)
        {
            @Html.Partial("EntityLinking/LinkAnalysis", Model.LinkAnalysis)
        }
    </div>
    <div class="tab-content phrase">
        @if (Model.KeyPhraseAnalysis != null)
        {
            @Html.Partial("Text/KeyPhrases", Model.KeyPhraseAnalysis)
        }
    </div>
    <div class="tab-content linguistic">
        @if (Model.LinguisticAnalysis != null)
        {
            @Html.Partial("Text/LinguisticAnalysis", Model.LinguisticAnalysis)
        }
    </div>
    <div class="tab-content sentiment">
        @if (Model.SentimentAnalysis != null)
        {
            @Html.Partial("Text/SentimentDocuments", Model.SentimentAnalysis.Documents)
        }
    </div>
    <div class="tab-content language">
        @if (Model.LanguageAnalysis != null)
        {
            @Html.Partial("Text/LanguageDocuments", Model.LanguageAnalysis.Documents)
        }
    </div>
</div>