@using Sitecore.Shell.Framework.Commands.Masters
@using Sitecore.Data.Managers
@model Sitecore.SharedSource.CognitiveServices.Models.Utility.IImageDescription

@{
    ViewBag.Title = "Cognitive Services: Image Description";
    Layout = "~/Views/CognitiveCommon/CognitiveLayout.cshtml";
}

<div class="frame">
    @if (Model != null)
    {
        <form class="form" method="post" action="/SitecoreCognitiveServices/CognitiveUtility/UpdateImageDescription">
            <fieldset>
                <legend>Current Description</legend>
                <div class="info-row">@(string.IsNullOrEmpty(Model.AltDescription) ? "The alt description is empty." : Model.AltDescription)</div>
            </fieldset>
            <fieldset>
                <legend>Options</legend>
                <div class="form-row">
                    @foreach (var cp in Model.CognitiveDescription.Captions)
                {
                        <div>
                            <input type="radio" id="descriptionOption" name="descriptionOption" value="@cp.Text" />
                            <label for="descriptionOption">@cp.Text</label>
                        </div>
                    }
                </div>
                <div>
                    <input type="hidden" name="id" value="@Model.ItemId" />
                    <input type="hidden" name="database" value="@Model.Database" />
                    <input type="hidden" name="language" value="@Model.Language" />
                </div>
            </fieldset>
            <div class="scWizardButtons">
                <button class="form-submit scButton scButtonPrimary">Update Alt Tag</button>
            </div>
        </form>
    }
</div>