
@model Sitecore.SharedSource.CognitiveServices.Models.ISetAltTagsAll

@{
    ViewBag.Title = "Cognitive Services: Image Description Descendants";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/sitecore/shell/themes/standard/default/Default.css" rel="stylesheet" type="text/css" />
    <link href="/sitecore modules/Web/SitecoreCognitiveServices/css/Sitecore.SharedSource.CognitiveServices.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="frame">
        @if (Model != null)
        {
            <form class="form set-alt-all-form" method="post" action="/sccogsvcs/CognitiveUtility/UpdateImageDescriptionAll">
                <fieldset>
                    <legend>Update Alt Description For All Descendents</legend>
                    <div class="form-row">
                        <p>This will update all the alt tag descriptions for all descendant items below this folder using the cognitive analysis description. </p>
                        <p>You can use the threshold to specify the confidence level required to set the alt tag (0 would be always and 100 would have to be absolutely certain)</p>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Confidence Threshold</legend>
                    <div class="form-row">
                        <input class="threshold-range" type="range" min="0" max="100" id="threshold" name="threshold" oninput="thresholdOutput.value = threshold.value"/>
                        <output class="threshold-range-output" name="thresholdOutput" id="thresholdOutput">50</output>
                    </div>
                    <legend>Overwrite Existing Alt Value</legend>
                    <div class="form-row">
                        <input class="overwrite-value" type="checkbox" id="overwrite" name="overwrite"/>
                    </div>
                    <div>
                        <input type="hidden" id="id" name="id" value="@Model.ItemId"/>
                        <input type="hidden" id="database" name="database" value="@Model.Database"/>
                        <input type="hidden" id="language" name="language" value="@Model.Language"/>
                    </div>
                </fieldset>
                <div class="scWizardButtons">
                    <button class="form-submit scButton scButtonPrimary">Update Alt Tags</button>
                </div>
            </form>
            <div class="progress-indicator">
                <img src="/sitecore/shell/themes/standard/Images/ProgressIndicator/sc-spinner32.gif" />
            </div>
            <div class="result-display">
                There were <span class="resultModified">@Model.ItemsModified</span> items updated out of <span class="resultCount">@Model.ItemCount</span>.
            </div>
        }
        <script src="~/sitecore modules/Web/SitecoreCognitiveServices/js/jquery-1.10.2.min.js"></script>
        <script src="~/sitecore modules/Web/SitecoreCognitiveServices/js/Sitecore.SharedSource.CognitiveServices.js"></script>
    </div>
</body>
</html>