@model Microsoft.ProjectOxford.Vision.Contract.Region[]

@if (Model != null)
{
    <div class="region-block">
        @foreach (var r in Model)
        {
            <div>
                @if (r.BoundingBox != null)
                {
                    <div>
                        @*<div>
                            <label>Bounding Box: </label>
                            <span>@r.BoundingBox</span>
                        </div>
                        @Html.Partial("~/Views/CognitiveLaunch/Vision/Rectangle.cshtml", r.Rectangle)*@
                    </div>
                }
                @if (r.Lines != null)
                {
                    <div>
                        @foreach (var l in r.Lines)
                        {
                            <div>
                                @*<div>
                                        <label>Bounding Box: </label>
                                        <span>@l.BoundingBox</span>
                                    </div>
                                    @Html.Partial("~/Views/CognitiveLaunch/Vision/Rectangle.cshtml", l.Rectangle)*@<div>
                                    <label></label>
                                    <span></span>
                                </div>
                                @Html.Partial("~/Views/CognitiveLaunch/Vision/Words.cshtml", l.Words)
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}