@model Sitecore.SharedSource.CognitiveServices.LaunchDemo.Models.AcademicResult
@{
    ViewBag.Title = "Academic Search";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <div>Learn more about the <a href="https://www.microsoft.com/cognitive-services/en-us/Academic-Knowledge-API/documentation/QueryExpressionSyntax>" target="_blank">Query Expression Syntax</a></div>
    <form class="form academic-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/AcademicSearchCalcHistogram">
        <fieldset>
            <legend>Calculate Histogram</legend>
            <div class="form-row">
                <label>provide expression</label>
                <input type="text" name="expression" value="And(Composite(AA.AuN=='jaime teevan'),Y>2012)"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Calculate Histogram"/>
            </div>
            @if (Model.Histogram != null)
            {
                <div>
                    <label>Expression: </label> @Model.Histogram.Expr
                </div>
                <div>
                    <label>Number of Results: </label> @Model.Histogram.Num_Entities
                </div>
                if(Model.Histogram.Histograms != null && Model.Histogram.Histograms.Any()) { 
                    <h2>Histograms</h2>
                    foreach (var h in Model.Histogram.Histograms)
                    {
                        <div class="histogram">
                            <div>
                                <div class="histo-detail">
                                    <span>Attribute: </span> @h.Attribute
                                </div>
                                <div class="histo-detail">
                                    <span>Distinct Values: </span> @h.Distinct_Values
                                </div>
                                <div class="histo-detail">
                                    <span>Total Count: </span> @h.Total_Count
                                </div>
                            </div>
                            <div>
                                @if(@h.Histogram != null && @h.Histogram.Any()) {
                                    <div class="histo-chart">
                                        @foreach (var h2 in @h.Histogram)
                                        {
                                            <div class="histo-col">
                                                <div class="histo-bar" style="height: @(h2.Count*5)px;">
                                                    <span>@h2.Count</span>
                                                </div>
                                                <div class="histo-data">@h2.Value</div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>   
                    }
                }
            }
        </fieldset>
    </form>
    <form class="form academic-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/AcademicSearchEvaluate">
        <fieldset>
            <legend>Evaluate</legend>
            <div class="form-row">
                <label>provide expression</label>
                <input type="text" name="expression" value="And(Composite(AA.AuN=='jaime teevan'),Y>2012)"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Evaluate Expression"/>
            </div>
            @if (Model.Evaluate != null)
            {
                <div>
                    <label>Expression: </label> @Model.Evaluate.Expr
                </div>
                if (Model.Evaluate.Entities != null && Model.Evaluate.Entities.Any())
                {
                    <h3>Entities</h3>
                    foreach (var e in Model.Evaluate.Entities)
                    {
                        <div>
                            <div>
                                <h4>Author Attributes: </h4>
                                @if(e.AA != null && e.AA.Any()) { 
                                    foreach(var a in e.AA) {
                                        <div>
                                            <div>
                                                <label>Author Id: </label> @a.AuId
                                            </div>
                                            <div>
                                                <label>Author Name: </label> @a.AuN
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div>
                                <label>Probability: </label> @((e.Prob * 100).ToString("0"))%
                            </div>
                            <div>
                                <label>Citation Count: </label> @e.CC
                            </div>
                            <div>
                                <label>Paper Title: </label> @e.Ti
                            </div>
                            <div>
                                <label>Paper Year: </label> @e.Y
                            </div>
                        </div>
                    }
                }
            }
        </fieldset>
    </form>
    <form class="form academic-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/AcademicSearchGraphSearch">
        <fieldset>
            <legend>Graph Search</legend>
            <div class="form-row">
                <label>provide author</label>
                <input type="text" name="author" value="bin shao"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Perform Graph Search"/>
            </div>
            @if (Model.GraphSearch != null && Model.GraphSearch.Results != null && Model.GraphSearch.Results.Any())
            {
                <h3>Graph Results</h3>
                foreach (var g in Model.GraphSearch.Results)
                {
                    if (g.Any())
                    {
                        foreach(var r in g) { 
                            <br/>
                            <div>
                                <div>
                                    <label>Cell Id: </label> @r.CellID
                                </div>
                                <div>
                                    <label>Original Title: </label> @r.OriginalTitle
                                </div>
                            </div>
                        }
                    }
                }
            }
        </fieldset>
    </form>
    <form class="form academic-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/AcademicSearchInterpret">
        <fieldset>
            <legend>Interpret</legend>
            <div class="form-row">
                <label>provide query</label>
                <input type="text" name="query" value="papers by jaime"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Interpret Query"/>
            </div>
            @if (Model.Interpret != null)
            {
                <div>
                    <div>
                        <label>Query: </label> @Model.Interpret.Query
                    </div>
                    @if (Model.Interpret.Interpretations != null && Model.Interpret.Interpretations.Any())
                    {
                        <h3>Interpretations</h3>
                        foreach (var i in @Model.Interpret.Interpretations)
                        {
                            <div>
                                <div>
                                    <label>Logarithmic Probability: </label> @((i.LogProb * 100).ToString("0"))%
                                </div>
                                <div>
                                    <label>Parse: </label> @i.Parse
                                </div>
                                @if (i.Rules != null && i.Rules.Any())
                                {
                                    <h4>Rules</h4>
                                    foreach (var r in i.Rules)
                                    {
                                        <div>
                                            <div>
                                                <label>Name: </label> @r.Name
                                            </div>
                                            <div>
                                                <label>Type: </label> @r.Output.Type
                                            </div>
                                            <div>
                                                <label>Value: </label> @r.Output.Value
                                            </div>
                                        </div>
                                    }
                                }
                            </div>    
                        }
                    }
                </div>
            }
        </fieldset>
    </form>
    <form class="form academic-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/AcademicSearchSimilarity">
        <fieldset>
            <legend>Similarity</legend>
            <div class="form-row">
                <label>provide text</label>
                <input type="text" name="text"/>
            </div>
            <div class="form-row">
                <label>provide text</label>
                <input type="text" name="text2"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Compare Similarity"/>
            </div>
            @if (Model.SimilarityRun != null)
            {
                <div>
                    <label>Simliarity: </label> @((Model.Similarity * 100).ToString("0"))% 
                </div>
            }
        </fieldset>
    </form>
</div>