@model Sitecore.SharedSource.CognitiveServices.LaunchDemo.Models.ComputerVisionResult
@{
    ViewBag.Title = "Computer Vision";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form vision-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/ComputerVision">
        <fieldset>
            <legend>Computer Vision</legend>
            <div class="form-row">
                <label>provide a photo url</label>
                <input type="text" name="url"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Analyze Photo"/>
            </div>
            <div class="image-sample">
                @if (Model.ImageUrl != null)
                {
                    <img src="@Model.ImageUrl"/>
                }
                @if (@Model.Result != null && Model.Result.Faces != null)
                {
                    @Html.Partial("~/Views/CognitiveAnalysis/Vision/Faces.cshtml", Model.Result.Faces, new ViewDataDictionary(Model.Result.Faces))
                }
                @if (@Model.Result != null && Model.Result.Tags != null)
                {
                    @Html.Partial("~/Views/CognitiveAnalysis/Vision/Tags.cshtml", Model.Result.Tags, new ViewDataDictionary(Model.Result.Tags))
                }
            </div>
        </fieldset>
    </form>
</div>