@model Microsoft.ProjectOxford.Emotion.Contract.Scores

@if (Model != null)
{
    <div class="scores">
        <div class="bg-layer"></div>
        <div class="score-set">
            <label>Anger: </label>
            @Html.Partial("Common/MeasureBar", Model.Anger)
        </div>
        <div class="score-set">
            <label>Contempt: </label>
            @Html.Partial("Common/MeasureBar", Model.Contempt)
        </div>
        <div class="score-set">
            <label>Disgust: </label>
            @Html.Partial("Common/MeasureBar", Model.Disgust)
        </div>
        <div class="score-set">
            <label>Fear: </label>
            @Html.Partial("Common/MeasureBar", Model.Fear)
        </div>
        <div class="score-set">
            <label>Happiness: </label>
            @Html.Partial("Common/MeasureBar", Model.Happiness)
        </div>
        <div class="score-set">
            <label>Neutral: </label>
            @Html.Partial("Common/MeasureBar", Model.Neutral)
        </div>
        <div class="score-set">
            <label>Sadness: </label>
            @Html.Partial("Common/MeasureBar", Model.Sadness)
        </div>
        <div class="score-set">
            <label>Surprise: </label>
            @Html.Partial("Common/MeasureBar", Model.Surprise)
        </div>
    </div>
}