@model Microsoft.ProjectOxford.Vision.Contract.Color

@if (Model != null)
{
    <div>
        <h3>Color</h3>
        <div>
            <label>Accent Color: </label>
            <span>@Model.AccentColor</span>
        </div>
        <div>
            <label>Dominant Color Background: </label>
            <span>@Model.DominantColorBackground</span>
        </div>
        <div>
            <label>Dominant Color Foreground: </label>
            <span>@Model.DominantColorForeground</span>
        </div>
        <div>
            <h4>Dominant Colors</h4>
            <div>
                @foreach (var c2 in @Model.DominantColors)
                {
                    <span>@c2</span>
                }
            </div>
        </div>
        <div>
            <label>Is Black White Image: </label>
            <span>@Model.IsBWImg</span>
        </div>
    </div>
}