@model Microsoft.ProjectOxford.Vision.Contract.Region[]

@if (Model != null)
{
    <div>
        <h3>Regions</h3>
        @foreach (var r in Model)
        {
            <div>
                @if (r.BoundingBox != null)
                {
                    <div>
                        <label>Bounding Box: </label>
                        <span>@r.BoundingBox</span>
                    </div>
                }
                @if (r.Lines != null)
                {
                    <div>
                        <h4>Lines: </h4>
                        @foreach (var l in r.Lines)
                        {
                            <div>
                                <label>Bounding Box: </label>
                                <span>@l.BoundingBox</span>
                            </div>
                            @Html.Partial("Vision/Rectangle", l.Rectangle)
                            @Html.Partial("Vision/Words", l.Words)
                        }
                    </div>
                }
                @Html.Partial("Vision/Rectangle", r.Rectangle)
            </div>
        }
    </div>
}