@model Sitecore.SharedSource.CognitiveServices.Models.Vision.ContentModerator.EvaluateResponse
@{
    ViewBag.Title = "Content Moderator - Evaluate";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form cm-evaluate-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/ContentModeratorEvaluate">
        <fieldset>
            <legend>Evaluate Image</legend>
            <div class="form-row">
                <label>provide an image url</label>
                <input type="text" name="url"/>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Evaluate Image"/>
            </div>
                @if (Model != null && Model.Status != null)
                {
                    <br />
                    <div>
                        <h3>Result: @Model.Result</h3>
                        <br />
                        <div>
                            <div>Is Adult: @Model.IsImageAdultClassified</div>
                            <span>Adult Score: </span>
                            <span>
                                @Html.Partial("~/Views/CognitiveAnalysis/Common/MeasureBar.cshtml", (float)@Model.AdultClassificationScore)
                            </span>
                        </div>
                        <br />
                        <div>
                            <div>Is Racy: @Model.IsImageRacyClassified</div>
                            <span>Racy Score: </span>
                            <span>
                                @Html.Partial("~/Views/CognitiveAnalysis/Common/MeasureBar.cshtml", (float)@Model.RacyClassificationScore)
                            </span>
                        </div>
                    </div>
                }                    
        </fieldset>
    </form>
</div>